.wrapper {
    
    background: linear-gradient(135.1deg, rgba(255, 0, 0, 0.84) -64.15%, #2592FF 104.21%);

    p {
        margin: 0;
    }

    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .topbar {

            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            color: white;

            .switch {
                display: flex;
                align-items: center;
                padding-left: 1.5em;
            }

            img {
                padding: 1em;
            }
        }

        .humidity {

            margin-bottom: 2em;
            display: flex;
            color: white;

            i {
                margin-right: 10px;
            }

        
        }

        .temperature {
            display: flex;

            p {
                text-align: center;
                color: white;
                margin-bottom: 1em;
            }

            .column {
                flex-direction: column;
            }

            .column:first-child {
                margin-right: 2.5em;
            }

            .column:last-child {
                margin-left: 2.5em;
            }

            .circle {

                color: white;
                font-size: 1.3em;

                border-radius: 100%;
                background-color: #FF9432;
                height: 90px;
                width: 90px;
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);

                display: flex;
                justify-content: center;
                align-items: center;

            }

        }

        .temp-controls {

            .unify:first-child {
                margin-right: 1.6em;
            }

            .unify:last-child {
                margin-left: 1.6em;
            }

            display: flex;
            flex-direction: row;

            .unify {

                margin-top: 2em;

                .plus, .minus, .swing {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 2em;
                }
                
                .plus {
                    $bg: #FF7171;
                    background: $bg;
                    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
                    width: 88px;
                    height: 88px;
                    border-radius: 100%;
                    margin-bottom: 0.5em;
                    &:active {
                        background: lighten($bg, 10%);
                    }
                }
                
                .minus {
                    $bg: #8195FF;
                    background: $bg;
                    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
                    width: 88px;
                    height: 88px;
                    border-radius: 100%;
                    &:active {
                        background: lighten($bg, 10%);
                    }
                }

                .swing {
                    $bg: #1A295F;
                    background: $bg;
                    width: 88px;
                    height: 88px;
                    border-radius: 100%;
                    &:active {
                        background: lighten($bg, 10%);
                    }
                    &:first-child {
                        margin-bottom: 0.5em;
                    }
                }

            }

        }

        .mode-controls {
            margin-bottom: 2em;
            .unify {
                padding-left: 2.5em;
                padding-right: 2.5em;
                padding-bottom: 2em ;
                margin-top: 2em;
                .mode-elements-wrapper {
                    text-align: center;
                    color: white;
                    p {
                        margin-bottom: 1em;
                        margin-top: .5em;
                    }
                }
            }
        }

        .fan-controls {
            margin-bottom: 2em;
            .unify {
                padding-left: 2em;
                padding-right: 2em;
                .fan-controls-wrapper {
                    text-align: center;
                    p {
                        padding-top: .8em;
                        margin-bottom: 1em;
                    }
                }
            }
            width: 290px;
            color: white
        }

        .timer {

            margin-bottom: 3em;
            
            .unify {

                padding-left: 2em;
                padding-right: 2em;
                
                .timer-controls-wrapper {
                    text-align: center;
                    color: white;
                    p {
                        padding-top: .8em;
                        margin-bottom: 1em;
                    }
                    .start-btn {
                        $bg: #00CC52;
                        background: $bg;
                        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
                        border-radius: 31px;
                        width: 183px;
                        height: 41px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 1.5em;
                        margin-bottom: 1em;
                        &:active {
                            background: lighten($bg, 1%);
                        }
                    }
                    .outter-parent {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        .column {
                            display: flex;
                            flex-direction: column;
                            &:first-child {
                                padding-right: 2.5em;
                            }
                            &:last-child {
                                padding-left: 2.5em;
                            }
                        }
                       
                    }
                }
            }
        }

    }

}

.button {
    width: 88px;
    height: 88px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.unify {
    background: rgba(255, 255, 255, 0.44);
    border-radius: 31px;
    padding: 1em;
}

