@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    font-family: Nunito, sans-serif;
    margin: 0;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}